<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libo.system.dao.SysGoodsDao">
    <resultMap id="goods" type="com.libo.system.domain.entity.SysGoodsEntity">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="goodsName" jdbcType="VARCHAR"></result>
        <result column="price" property="goodsPrice" jdbcType="FLOAT" javaType="FLOAT"></result>
        <result column="rate" property="goodsRate" jdbcType="FLOAT" javaType="FLOAT"></result>
        <result column="category_id" property="categoryId" javaType="INTEGER"></result>
        <result column="amount" property="goodsAmount" javaType="INTEGER"></result>
    </resultMap>
    <select id="selectGoodsByPage" resultMap="goods">
        select * from goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                name = #{goodsName}
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>
    <!--    <select id="selectByName"></select>-->
    <insert id="insert">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            price,
            rate,
            category_id,
            amount
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
          #{sysGoodsEntity.goodsName},
          #{sysGoodsEntity.goodsPrice},
          #{sysGoodsEntity.goodsRate},
          #{sysGoodsEntity.categoryId},
          #{sysGoodsEntity.goodsAmount}
        </trim>
    </insert>
    <select id="selectIdAndName" resultMap="goods">
        select id,name
        from goods
    </select>
</mapper>
