<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libo.system.dao.SysPlanDao">

    <sql id="column">
        id,name,goodsname,talname,rate,grade,amount,create_time
    </sql>

    <select id="selectPlanByPage" resultType="com.libo.system.domain.entity.SysPlanEntity">
        select <include refid="column"/>
        from plan
        <where>
            <if test="planName != null and planName != ''">
                name = #{planName}
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>
    <!--    <select id="selectByName"></select>-->
</mapper>
